@import './common.scss';

.main-header {
	width: 100%;
	font-family: Avenir;
	font-size: 28pt;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	background-color: #eee;
	padding: 20px 0;
}

.main-summary {
	padding: 20px 80px;
}

.column-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	.column-option {
		width: 270px;
		height: 400px;
		border: 1px solid #3d3b36;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 10px;
		font-size: 16pt;
		transition: all .2s ease-in-out;
		color: white;
		box-shadow: 2px 2px 2px grey;

		&.twitch {
			background-color: $twitchpurple;
			position: relative;
			.coming-soon {
				transition: all .3s ease-in-out;
				position: absolute;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: lavender;
				opacity: 0;
				color: black;
				&.show {
					opacity: 1;
				}
			}
		}

		&.pro {
			width: 350px;
			background-color: $linkedinblue;
		}

		&.music {
			background-color: $spotifygreen;
			position: relative;
			.coming-soon {
				transition: all .3s ease-in-out;
				position: absolute;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: lightgreen;
				opacity: 0;
				color: black;
				&.show {
					opacity: 1;
				}
			}
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.02);
		}
	}
}
