@import './common.scss';

.main-header {
	width: 100%;
	font-family: Avenir;
	font-size: 28pt;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	background-color: #eee;
	padding: 20px 0;
}

.main-summary {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px 0;
	background-color: white;

	.text {
		display: flex;
		align-items: center;
		max-width: 600px;
		margin: 10px 0 10px 20px;
	}
}

.pic-container {
	display: flex;
	.profile {
		max-width: 200px;
		max-height: 200px;
		width: auto;
		height: auto;
		border-radius: 50%;
	}
}

.column-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;

	@media (min-width: $large-width) {
		flex-direction: row;
	}

	.column-option {
		min-width: 350px;
		height: 350px;
		border: 1px solid #3d3b36;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 10px;
		margin-bottom: 20px;
		font-size: 18pt;
		transition: all .2s ease-in-out;
		color: white;
		box-shadow: 2px 2px 2px grey;

		@media (min-width: $large-width) {
			flex-direction: row;
			max-width: 600px;
			min-width: 300px;
		}

		&.twitch {
			background-color: $twitchpurple;
			position: relative;
			.coming-soon {
				transition: all .3s ease-in-out;
				position: absolute;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: lavender;
				opacity: 0;
				color: black;
				&.show {
					opacity: 1;
				}
			}
		}

		&.pro {
			min-width: 350px;
			max-width: 400px;
			font-size: 22pt;
			background-color: $linkedinblue;
		}

		&.music {
			background-color: $spotifygreen;
			position: relative;
			.coming-soon {
				transition: all .3s ease-in-out;
				position: absolute;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: lightgreen;
				opacity: 0;
				color: black;
				&.show {
					opacity: 1;
				}
			}
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.02);
		}
	}
}
