@import '../../common.scss';

.main-header {
    position: relative;
    background-color: $linkedinblue;
    color: white;
    .back-button {
        position: absolute;
        left: 25px;
        top: 31px;
        font-size: 20px;
        cursor: pointer;
    }
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    .profile {
        max-width: 200px;
        max-height: 200px;
        width: auto;
        height: auto;
        margin-bottom: 20px;
        border-radius: 50%;
    }
    .contact-info {
        .title {
            font-size: 18pt;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 2;
        margin: 0 20px;
        background-color: white;
        padding: 0 20px;
        border: 1px solid grey;
        box-shadow: 2px 2px 2px black;
    }
}

.panels-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.panel {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px 30px;
    margin: 20px;
    min-width: 400px;
    max-width: 550px;
    min-height: 160px;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px black;

    .panel-title {
        font-size: 2em; 
    }
    .panel-body {
        margin-top: 5px;
        display: flex;

        &.vert {
            flex-direction: column;
        }

        .subtitle {
            font-weight: bold;
            color: $linkedinblue;
            font-size: 1.125em;
            margin-top: 5px;
        }
    }

    &.work {
        max-width: 1192px;
    }
}

.lehigh-crest {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}

.resume-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: white;

    .resume-button {
        cursor: pointer;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid white;
        border-radius: 5px;
        background-color: $linkedinblue;
        color: white;
    }
}
